---
layout: default
---
<div id="gridid" class="col-sm-12">
    {{ content }}
</div>
<iframe frameborder="0" class="juxtapose" width="100%" height="220"
    src="https://cdn.knightlab.com/libs/juxtapose/latest/embed/index.html?uid=18181df2-c37a-11e9-b9b8-0edaf8f81e27"></iframe>

<h3>Grant Support</h3>
<h4>Current</h4>

<figure class='figure'>
    <img src="{{ site.baseurl }}/images/nih.png">
    <figcaption>
        Computational Characterization of Environmental Enteropathy (EE)
        K23 DK117061-01A1 – Mentored Patient-Oriented Research Career Development Award, National Institute of Health
        (NIH)
    </figcaption>
</figure>

<figure class='figure'>
    <img src="{{ site.baseurl }}/images/uva.png">
    <figcaption>
        Deep Learning for Automated Identification and Classification of Gastrointestinal Landmarks in Video Capsule
        Endoscopies
        Engineering-in-Medicine seed grant, Center for Engineering in Medicine, UVa
    </figcaption>
</figure>

<figure class='figure'>
    <img src="{{ site.baseurl }}/images/ccfa.png">
    <figcaption>
        Modeling Crohn’s Disease using Machine Learning: Image Analysis and Multiomics
        Litwin IBD Pioneers Program, Crohn's & Colitis Foundation
    </figcaption>
</figure>

<figure class='figure'>
    <img src="{{ site.baseurl }}/images/bmgf.jpg">
    <figcaption>
        EEDBI Consortium Morphometry Project, Bill & Melinda Gates Foundation
    </figcaption>
</figure>

<figure class='figure'>
    <h4>Ivy Foundation</h4>
    <figcaption>
        Ivy Foundation COVID-19 Translational Research Fund, Ivy Foundation
        Epidemiologic Modeling, Public Health, Surveillance and Sewershed Monitoring to Predict Surges in the COVID-19
        Pandemic
    </figcaption>
</figure>

<h4>Completed</h4>
<figure class='figure'>
    <img src="{{ site.baseurl }}/images/thriv.png">
    <figcaption float="left">
        Computational Modeling of Intestinal Mucosa: Image Analysis and Multiomics
        Translational Health Research Institute of Virginia (THRIV) Scholars Award, University of Virginia, Career
        Development Award
    </figcaption>
</figure>


<figure class='figure'>
    <img src="{{ site.baseurl }}/images/uva.png">
    <figcaption>
        Computational Imaging to Predict Intestinal Mucosal Alterations in Children in Virginia
        Engineering-in-Medicine seed grant, Center for Engineering in Medicine, University of Virginia
    </figcaption>
</figure>